.poppins {
  font-family: "Poppins", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
.lest-item-bg-img {
  background: linear-gradient(
    136.67deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(152, 151, 151, 0) 102.037%
  );
}
